.watchingSidebar {
    display: flex;
    flex-direction: column;
    height: 93.8rem;
    gap: 1rem;
}

.watchingSidebar .watchingSidebar-VideoList {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.watchingSidebar .watchingSidebar-VideoList h2 {
    font-weight: 600;
    line-height: 1.641rem;
    font-size: 1.4rem;
}

.watchingSidebar .watchingSidebar-VideoList p {
   font-size: 1.2rem;
   line-height: 1.641rem;
   font-size: 400;
   color: var(--color-textsec);
   margin-top: 0.5rem;
}